@font-face {
    src: url(css/helvetica-rounded-bold.otf);
    font-family: rounded;

}

* {
    font-family: rounded;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

::-webkit-scrollbar {
    display: none;
}

.landing-body{
    background: linear-gradient(106.63deg, #0C0018 0%, #5E0000 100%) !important;
    color: rgb(253, 253, 253);
    font-size: 28px;
}

.splash-background{
    background-image: url(css/photos/wallpaperflare.com_wallpaper\ \(1\).png);
      width: 100%;
      height: 100vh;
      background-size:cover;
      background-repeat: no-repeat;
      /* background-position: -100px -200px; */
      background-position: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .splash-background .logo{
    width: 200px;
    position: absolute;
    top: 50px;
  }
  
  .splash-background .text p,
  .red-text{
    text-align: center;
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 356px;
  }
  
  .splash-background .red-text{
    color: #E50914;
  }
  
  .splash-background  .button-free,
  .splash-background .button-free a{
      background-color: red;
      color: white;
      font-size: 43px;
      font-family: Helvetica;
      text-decoration: none;
      border-radius: 7px;
      padding: 10px 17px 10px 17px;
      margin-top: 35px;
  }
  
  .splash-background .button-sign ,
  .splash-background .button-sign a{
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: Helvetica;
    text-decoration: none;
    border-radius: 7px;
    padding: 8px;
    transform: translate(680px, -620px);
    transition: all 0.4 ease;
  }

  .button-free:hover,
  .button-sign:hover{
    box-shadow: 0px 0px 19px #FF000D;
    transition: all 0.4 ease;
}
  
   
.prop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    /* transform: translateY(-100px); */
    margin-top: 100px;
}

   .content-row{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
   }

   .content-reverse{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 0px;
    transform: translateX(-60px);
    margin-bottom: 50px;
   }

   .content-text p{
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
   }

   .content-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
   }

   .content-text p:first-child{
    font-size: 60px;
    font-weight: 600;
   }

   .content-text p:last-child{
    font-size: 20px;
    
   }

   .img{
    width: 450px;
   }
  